body {
  background-color:#2e5266;
  color: #d3d0cb;
  text-align:center;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;
}

#mainDiv {
  background-color:#6e8898;
  width:100%;
  position:absolute;
  top:0
}

#data {
  margin-top:200px;
  clear:both;
}

#searchItem {
                padding:8px 15px;
                background:#2e5266;
                border:0px solid #dbdbdb;
                color:#bdbbb6;
}
button {
                position:relative;
                padding:6px 15px;
                left:-8px;
                border:2px solid #d3d0cb;
                background-color:#d3d0cb;
                color:#2e5266;
}
button:hover  {
                background-color:#bdbbb6;
                color:#2e5266;
}

#triggerRandom {
  margin-top:25px;
  margin-bottom:25px;
}

.articleStyling {
  border: 2px solid;
  width:80%;
  margin: 10px auto;
}

a {
  color:#e8f1f2;
}

a:hover {
  color:grey;
}

.aboutDev {
  /*margin-top:150px; */
}

hr {
  margin-top: 300px;
  width:25%;
}

/* Media Queries */

@media screen and (max-width: 700px) {
  
  hr {
  margin-top: 300px;
  width:50%;
}
}

@media screen and (max-width: 480px) {

  hr {
  margin-top: 300px;
  width:75%;
}
}
